.tour-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 2px;
}

.tour-card {
  padding: 10px;
  width: 280px;
  height: 400px;
}
.tour-price {
  font-size: 18px;
  font-weight: bold;
  color: #2a9d8f;
  margin-top: 10px;
}
